<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>after_12</title>
     {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'courses/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'courses/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'courses/assets/css/templatemo-grad-school.css' %}">
    <link rel="stylesheet" href="{% static 'courses/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'courses/assets/css/lightbox.css' %}">
  </head>
  <section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Choose Your Course</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">


          <div class="item">
            <img src="{% static 'courses/assets/images/courses-03.jpg' %}" alt="Course #3">
            <div class="down-content">
              <h4>BCA</h4>
<p>            The Bachelor of Computer Applications (BCA) is a three-year undergraduate program designed to provide students with a solid foundation in computer science and applications.
</p>
              <div class="text-button-pay">
                <a href="{% url 'bca' %}">view <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>

          <div class="item">
            <img src="{% static 'courses/assets/images/courses-05.jpg' %}" alt="">
            <div class="down-content">
              <h4>BBA</h4>
<p>            The Bachelor of Business Administration (BBA) is a three-year undergraduate degree program that prepares students for the complexities of the business world.
</p>
              <div class="text-button-pay">
                <a href="{% url 'bba' %}">view <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'courses/assets/images/courses-01.jpg' %}" alt="">
            <div class="down-content">
              <h4> BSC CHEMISTRY</h4>
<p>            The Bachelor of Science in Chemistry (B.Sc. Chemistry) is a three-year undergraduate program that provides students with a comprehensive understanding of chemical principles and their applications.
</p>
              <div class="text-button-free">
                <a href="{% url 'chemistry' %}">view <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>

          <div class="item">
            <img src="{% static 'courses/assets/images/courses-03.jpg' %}" alt="">
            <div class="down-content">
              <h4>BSC COMPUTER SCIENCE</h4>
<p>The Bachelor of Science in Computer Science (B.Sc. CS) is a comprehensive program designed to equip students with the essential skills and knowledge in computing.
        </p></p>
              <div class="text-button-pay">
                <a href="{% url 'bsc_com' %}">view <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'courses/assets/images/courses-04.jpg' %}" alt="">
            <div class="down-content">
              <h4>BTech</h4>
<p>            The Bachelor of Technology (B.Tech) program is a four-year undergraduate degree focusing on various engineering disciplines. This program equips students with the technical skills and theoretical knowledge necessary to excel in engineering and technology fields.
</p>
              <div class="text-button-pay">
                <a href="#">view <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
    <a href="{% url 'index' %}" class="back-button"><b><font color="black"> Back</font></b></a>


  <center>                    <p class="p-small">Copyright © 2024 Career - All rights reserved</p>
</center>






  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'courses/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'courses/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="{% static 'courses/assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'courses/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'courses/assets/js/lightbox.js' %}"></script>
    <script src="{% static 'courses/assets/js/tabs.js' %}"></script>
    <script src="{% static 'courses/assets/js/video.js' %}"></script>
    <script src="{% static 'courses/assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'courses/assets/js/custom.js' %}"></script>

</body>
</html>