/* General styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for profile information */
.profile-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
}

/* Profile header */
.profile-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Profile details */
.profile-container p {
    font-size: 16px;
    margin: 8px 0;
}

/* Labels for the profile update form */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input fields in the update form */
input[type="text"], input[type="number"], input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Button for submitting the form */
button {
    margin-top: 20px;
    padding: 10px;
    background-color: #0dadca;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px;
    width: 200px;
}

button:hover {
    background-color: #0dadca;
}

/* Back to profile link */
a {
    text-decoration: none;
    color: #007bff;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.125rem;
	border: 1px solid #00bfd8;
	border-radius: 1.5rem;
	background-color: #00bfd8;
	color: #fff;
	font: 700 0.75rem/1.75rem "Raleway", sans-serif;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	background-color: transparent;
	color: #00bfd8;
}