<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Create a stylish landing page for your business startup and get leads for the offered services with this HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Career Guidance Application</title>
    
    <!-- Styles -->
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
   <link href="{% static 'core/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'core/css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'core/css/styles.css' %}" rel="stylesheet">
	
	<!-- Favicon  -->
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->

    <!-- end of preloader -->
    

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="{% url 'index' %}"><img src="{% static 'core/images/career.png' %}"alt="alternative"></a>
        
        <!-- Mobile Menu Toggle Button -->

        <!-- end of mobile menu toggle button -->


    </nav> <!-- end of navbar -->
    <!-- end of navbar -->


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Career Worlds</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->




    <!-- Terms Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="text-container">
                        <h3>Introduction</h3>
                        <p>Career World is an automated online platform for students who have completed their 10th or 12th grade.
                            Aims to provide comprehensive career guidance and personalized aptitude testing.
                            Empowers students to explore various educational paths.Supports informed decision-making regarding future careers.
                            User-friendly interface for registration and login.Aptitude testing to identify strengths and interests.Access to various career options and educational paths.
                            Expert consultations for personalized guidance.Promotes confident decision-making for students.Enhances understanding of available career choices.</p>
                    </div> <!-- end of text-container -->
                    
                    <div class="text-container">
                        <h3>Motivation</h3>
                        <p>Many students, especially after 10th and 12th grade, struggle with choosing the right career path due to a lack of proper guidance.There is a growing need for a system that provides clear, structured, and personalized career advice based on student strengths and interests.Students often make critical career decisions without understanding their strengths or available opportunities. Career World aims to change that by offering data-driven, personalized guidance.By offering detailed insights into various career options and paths, Career World fills the gap in career-related knowledge for students.Many students don’t have access to career experts. Career World provides direct access to expert consultations, ensuring personalized, professional advice</p>
                    </div> <!-- end of text-container -->

                    <div class="text-container">
                        <h3>Objective/Problem Statement</h3>
                        <p>Provide accurate and tailored career recommendations based on students interests, strengths, and aptitudes.Offer a platform for students to take aptitude tests that help identify their strengths and potential career paths.Facilitate direct communication between students and career experts for personalized advice and guidance.Equip students with the knowledge and tools needed to make informed choices about their educational and career paths.</p>
                    </div> <!-- end of text-container -->

                    <div class="text-container">
                        <h3>Functionalities</h3>
                        <p>Secure user account creation and login .Allows students to explore various educational and career options based on their academic background (e.g., after 10th, after 12th).Offers students subject-specific aptitude tests to evaluate their strengths and interests, helping them choose the right career path.Shows detailed test results, including correct answers and performance, helping students understand their aptitude for different fields.Provides comprehensive information on various courses and career opportunities available after 10th and 12th grades.Enables users to consult with career experts for personalized advice through the "Talk Guidance" feature, leveraging email account integration.</p>
                    </div> <!-- end of text-container -->
                    
                    <div class="text-container last">
                        <h3>Conclusion</h3>
                        <p>The Career World system is a valuable tool designed to help students make informed decisions about their future education and career paths. By offering personalized aptitude tests, detailed course options, and expert guidance, the platform provides comprehensive support for students after completing their 10th and 12th grades. With its user-friendly interface and secure authentication through Google OAuth, Career World ensures a seamless experience, enabling students to explore career opportunities aligned with their interests and capabilities.As the system evolves, it will continue to enhance the guidance process, empowering students to achieve their educational and professional goals.</p>
                        <a class="btn-outline-reg" href="{% url 'index' %}">BACK</a>
                    </div> <!-- end of text-container -->
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic -->
    <!-- end of terms content -->

    



    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2024 <a href="https://inovatik.com">Career</a> - All rights reserved</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->

	
    <!-- Scripts -->
  <script src="{% static 'core/js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'core/js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'core/js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'core/js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'core/js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'core/js/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{% static 'core/js/scripts.js' %}"></script> <!-- Custom scripts -->
</body>
</html>